Source: myzones
Section: graphics
Priority: optional
Maintainer: Scott Kirkwood <scott@forusers.com>
Build-Depends: cdbs, debhelper (>= 7), python (>= 2.4), python-support
XS-Python-Version: >= 2.4
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/key-mon/
Vcs-Hg: https://myzones.googlecode.com/hg/
Vcs-Browser: http://myzones.googlecode.com/hg/

Package: myzones
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-wxgtk2.8,
  python-tz
XB-Python-Version: ${python:Versions}
Description: Show the timezones you're interested in
 If you live in the southern hemisphere like I do, you probably constantly
 struggle to figure out what time it is in the northern hemisphere.  This is
 because, when daylight savings time comes around the north jumps forward and
 we jump back (or vice-versa).  To make things even more complicated, the date
 and hour that the time changes is usually different.  There will be one or
 more weeks where time difference is X hours.  Add the classic "off by one"
 error or a little dyslexia and your bound to get the time wrong and wake
 somebody up at 8:00 in the morning.
 .
 With MyZones you configure the timezones you are most interested in and then
 run it.  You can go forward or backwards in time if you are trying to schedule
 a date in the future, say.
 .
 A screenshot can be found here :
 http://myzones.googlecode.com/svn/trunk/doc/screen-shot.png
 .
 You can configure to show the timezones you are interested in.  As long as the
 timezone on your machine is correct and your computer's clock is on time, then
 it should show the right time for that timezone.
